
<div class="bg-paper p-4">
  <div class="bg-paper-corner"></div>
  <h4 class="text-center pb-5">Un nouvel indice?</h4>
  <%= simple_form_for @result, url: @next_path, method: :get do |f| %>
    <% @searched_attrs.each do |attr| %>
      <%= f.input attr[:input], label: attr[:label] %>
    <% end %>
    <div class="w-100 d-flex justify-content-center">
      <%= f.button :submit, "Soumettre la réponse", class: "btn btn-brown" %>
    </div>
  <% end %>
</div>
