$blue-light: #7ee6e5;
$dark-gray: #39404d;
$light-gray: #f9f9f9;
$dark-transparent: rgba(50, 50, 50, 0.8);
// color dedicated to cookies (nav/buttons/text) - "blue" should be replace by your theme color
$cookie: $blue-light;
