<div class="container px-5 text-justify">
  <div class="px-5">

    <%= render "components/title", title: "Les identifiants de connection" %>
    <p>
      Super vous avez trouvé le site. Mais malheureusement, sans avoir de compte, 
      il est difficile de trouver des informations intéressantes 
      et le site ne permet pas de se créer un compte. 
      Il va falloir voler les identifiants d’un employé. 
      Sur la page « se connecter » on observe que trois informations 
      sont nécessaires pour se connecter : 
    </p>
    <ul>
      <li>le nickname</li>
      <li>l’email</li>
      <li>Le mot de passe</li>
    </ul>
    <p>
      La liste des emails des employés se trouve dans la page « l’équipe », 
      mais il vous manque le nickname et le mot de passe.
      Votre 1er objectif va être de trouver le nickname d’un employé. 
      Une manière d’arriver à ça est d’envoyer à l’ensemble des employés 
      un programme malveillant appelé « cheval de troie ». 
      Ce type de programme peut par exemple vous  permettre de prendre 
      le contrôle à distance de la machine de votre victime dès qu’elle aura 
      ouvert votre mail. Ça tombe bien! 
      Un ami hacker vous a justement envoyé un programme tout près à l’emploi. 
      Celui-ci à pour spécificité de faire une capture de l’écran de la victime.
      Il ne vous reste plus qu’à envoyer ce cheval de troie à un employé que 
      vous avez identifié dans la liste! Si celui-ci est protégé, n'hésitez pas 
      à envoyer le cheval de troie à un autre employé.
    </p>
    <%= render "components/dashboard", db: false %>
  </div>
</div>