<h1>Un dernier mauvais coup</h1>

<div id="chart-container" style="width:100%; height:400px;"></div>

<p>Relever sur le graphique les points de la trajectoire du boulet</p>

<p>Utiliser <a href="https://fr.planetcalc.com/5992/">ce site</a> qui propose plusieur équations pour modéliser la courbe du boulet</p>

<p>Choisir le model le plus précis (avec le R2 le plus proche de 1)</p>

<p>Prendre l'équation et la coller dans <a href="https://www.wolframalpha.com/">le site wolfram alpha</a></p>

<p>Trouver à quelle distance le boulet est arrivé (valeur du second x dans wolfram alpha)</p>

<p>Retrouver dans le text le monument qui correspond à la bonne distance</p>

<%= render "components/form" %>
