<div class="container px-5 text-justify">
  <div class="px-5">

    <%= render "components/title", title: "Retrouver le site internet" %>

    <%# <div class="text-center mb-5"> %>
      <%#= image_tag "mutiny.jpeg", width: "300px"%>
    <%# </div> %>

    <p>
      Pour retrouver le site internet, il vous faut trouver un maximum d’informations sur cette société. 
      Ce ne sera pas chose facile car elle ne souhaite pas être trouvable juste avec une recherche google. 
      Par contre, il est probable que les développeurs qui ont travaillé sur le site soient présents sur les plateformes de développement.  
    </p>
    <p>
      Ci-dessous voici 
      <a target="_blank" href="https://www.top-hebergement.net/sites-web-developpeurs-devraient-visiter-programmation-tutoriels-plus/#Sites_dhebergement_de_code_source_source_code_hosting_sites">
        la liste des sites les plus visités par la communauté de développeur
      </a>
      , et notamment les sites d'hébergement.
      Pour gagner du temps, commencez vos recherches par ceux-là.
      Dans les barres de recherches, taper le nom de la compagnie : "Havior Company" 
      et voyez si le profil d'un développeur y est associé. Vous trouverez peut plus d'infos sur la société et peut être avec un peu de chance l'adresse du site internet.
    </p>

    <%# <div class="tech-point mt-4">
      <h4>Point technique</h4>
      <p>
        En data science, il existe des programmes qui sont capables d’identifier le degré de sympathie que l’auteur véhicule dans un texte. Un de ces programmes a été développé par Microsoft. Il est accessible à l’<a href="https://aidemos.microsoft.com/text-analytics" target="_blank">adresse suivante</a>.
      </p>
    </div> %>

    <%= render "components/dashboard", db: false %>
  </div>
</div>
