<div class="container">
  <h1>Les archives comme point de départ</h1>

  <p>
    Peut être qu’en retrouvant Joe l’horloger vous pourriez en apprendre plus. Mais comment faire?
    Les seules informations que vous avez sur ce Joe c’est qu’il volait des montres de valeur autours de chez lui à la fin du XVIIIème (soit entre 1770 et 1800)
    Vous avez une amie qui travaille comme informaticienne aux archives de police. Elle aura surement une piste! Vous décidez de lui demander de l’aide. Elle accepte et prend son ordinateur pour regarder dans la base de données. Malheureusement les bases de données de cette époque sont protégées par un mot de passe, il va falloir « hacker » le système pour pouvoir accéder aux infos. A vous de jouer!
  </p>

  <div class="bg-hack" style="background-image: url(<%= image_path('ordi.png') %>);">
    <div class="hack-screen d-flex text-align-center">
      <div id="hack-console">
        <textarea name="" id="" cols="30" rows="10">$></textarea>
      </div>
      <%= render "components/hacker" %>
    </div>
  </div>


  <div id="hack-secret" class="d-none">

    <p>
     Bravo vous avez hacké le système et récupéré la base de donnée. Il ne vous reste plus qu’a trouver dans quelles villes ont eu lieu les vols de montres précieuses. Cela vous aidera surement à retrouver Joe!
    </p>


    <div class="db-data-hunt">
      <iframe src="<%= Result::DB_URL %>"></iframe>
    </div>
    <%= render "components/form" %>
  </div>
</div>

