<div class="container text-justify">
  <div class="px-5">

    <%= render "components/title", title: "Les archives comme<br>point de départ" %>

    <p>
      Peut-être qu’en retrouvant Joe l’horloger vous pourriez en apprendre plus.
      <br>
      Mais comment faire ?
    </p>
    <p>
      Les seules informations que vous avez sur ce Joe, c’est qu’il volait des montres de valeur autour de chez lui à la fin du XVIIIème (soit entre 1770 et 1800).
    </p>
    <p>
      Vous avez une amie qui travaille comme informaticienne aux archives de police. Elle aura surement une piste !
    <br>
      Vous décidez de lui demander de l’aide. Elle accepte et prend son ordinateur pour regarder dans la base de données.
    </p>
    <p>
      Malheureusement les bases de données de cette époque sont protégées par un mot de passe, il va falloir « hacker » le système pour pouvoir accéder aux infos. A vous de jouer !
    </p>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <div class="bg-hack">
      <div class="hack-screen d-flex text-align-center">
        <div id="hack-console">
          <textarea name="" id="" cols="30" rows="10">$></textarea>
        </div>
        <%= render "components/hacker" %>
      </div>
    </div>
  </div>

  <div id="hack-secret" class="d-none px-10">
    <p>
    Bravo vous avez hacké le système et récupéré la base de données. Il ne vous reste plus qu’à trouver dans quelles villes ont eu lieu les vols de montres précieuses. Cela vous aidera sûrement à retrouver Joe !
    </p>
    <%= render "components/dashboard" %>
  </div>
</div>

