<h1>Un faux ami</h1>

<p>
  Super vous avez trouvé les témoignages des mutins! Mais comment identifier le plus virulent d’entre eux?
</p>

<div class="tech-point">
  <h4>Point technique</h4>
  <p>
    En data science, il existent des programme qui sont capables d’identifier le degrés de sympathie que l’auteur véhicule dans un text. Un de ces programmes a été développé par Microsoft. Il est accessible à l’<a href="https://aidemos.microsoft.com/text-analytics">adresse suivante</a>.
  </p>
</div>

<p>
  Utilisez le programme pour chacun des extraits de citation des mutins et déterminez le classement du plus virulent au moins virulent.
</p>

<%= render "components/form" %>
