<h1>Un faux ami</h1>

<p>Trouver les messages de chaque amis du hero</p>

<p>Utiliser <a href="https://aidemos.microsoft.com/text-analytics">ce site d'analyse de text</a> pour trouver qui sont les vrais et les faux amis et surtout qui est la personne qui nous veux le plus de mal au hero</p>

<%= render "components/form" %>
