<div class="container px-10 text-justify">
  <h1 class="text-center py-5">Bravo, vous avez trouvé le trésor !</h1>

  <p>
    Vous prenez la carte et vous y mettez les coordonnées.
  </p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d65052.65150607197!2d-149.58716471856587!3d-17.58744314730523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sle%20plateau%20des%20orangers%20tahiti!5e1!3m2!1sfr!2sfr!4v1615764983849!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  <p class="mt-5">
    Vous faites la randonnée et vous creusez à l’emplacement indiqué. Vous trouvez le coffre…
  </p>

  <iframe src="https://giphy.com/embed/xT1XGzAnABSXy8DPCU" width="500px" height="500px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

  <p>
    Mais quelle n’est pas votre surprise ! Dans le coffre il n’y a ni pièces d’or, ni pierres précieuses… Juste une poignée de pépins et un parchemin sur lequel il y a écrit : « Citrus sinensis de Tahiti ».
  </p>
  <p>
    En effet, vous réalisez qu'autour de vous il y un champ d’orangers qui font la fierté de cette vallée (<a href="https://www.tahitiheritage.pf/cueillette-oranges-tamanu/">plus d'infos ici</a>).
  </p>
  <p>
  Et là vous vous rappelez un détail qui maintenant prend toute son importance : votre oncle était botaniste de formation. Pour lui, la découverte d’une nouvelle espèce d’orange était un trésor en soi.
  </p>
  <p>
  Vous auriez donc fait tout ce voyage juste pour une orange et un bounty… Peut-être mais il vous aura au moins permis de découvrir un nouveau monde : la data science !
  </p>

  <%= image_tag "orange.jpg", width: "250px", class: "mb-5" %>

</div>