<div class="container px-5 text-justify">
  <div class="px-5">

    <%= render "components/title", title: "Bravo<br>Vous avez rempli la mission !" %>

    <div class="text-center mb-5">
      <iframe src="https://giphy.com/embed/xT1XGzAnABSXy8DPCU" width="300px" height="300px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          Cela fait maintenant une semaine que vous avez donné les plans à Arlette.
        </p>
        <p>
          Vous avez appris dans les journaux que le casse à bien eu lieu. Arlette a donc réussi son coup.
        </p>
        <p>
          Elle vous a donné rendez-vous au pied de la tour Eiffel pour vous donner votre part. Vous y êtes mais vous ne voyez pas Arlette. 
        </p>
      </div>
      <div class="col-md-6 text-right mb-3">
        <%= image_tag "paris.jpg", width: "350px", class: "mb-5" %>
      </div>

      <div class="col-md-5">
        <%= image_tag "oeufs.jpg", width: "350px", class: "mb-5" %>
      </div>
      <div class="col-md-7">
        <p>
          Pendant que vous la cherchez, un inconnu vous bouscule et disparaît dans la foule.
        </p>
        <p>
          Après une longue attente, vous vous résignez. Arlette ne viendra pas. Elle vous a roulé.
        </p>
        <p>
        Vous glissez alors votre main dans la poche et vous sentez un objet. Vous le sortez et découvrez un œuf en chocolat.
        Sacré numéro, cette Arlette.
        Vous auriez donc fait tout cela juste pour un œuf en chocolat… Peut-être mais il vous aura au moins permis de découvrir un nouveau monde : la cybersécurité !
        </p>
      </div>


    </div>






  </div>
</div>
