<h1>Un voyage au bout du monde</h1>

<p>Mettre le nom du tableau dans <a href="https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal">wikipedia</a> pour trouver une adresse et la date</p>

<p>Trouver la correspondance dans la base de données</p>

<div id="db-data-hunt">
  <iframe src="<%= Result::DB_URL %>"></iframe>
</div>

<%= render "components/form" %>
