<h1>Un indice dans l’indice</h1>

<p>Utiliser <a href="www.iloveimg.com">www.iloveimg.com</a> pour découpé le tableau à l'intérieur de l'image</p>

<iframe src="https://www.iloveimg.com/fr/recadrer-image" frameborder="0" width="500" height="500"></iframe>

<p>Coller faites glisser l'image du tableau que vous venez de télécharger dans <a href="https://www.google.com/imghp?hl=FR">Google images</a></p>

<div id="db-data-hunt">
  <iframe src="<%= Result::DB_URL %>"></iframe>
</div>

<%= render "components/form" %>
