<div class="container px-5 text-justify">
  <div class="px-5">

    <%= render "components/title", title: "Le back office est à nous!" %>

    <p>
    Super, vous avez réussi à vous connecter. Vous avez accès à plus d’informations. Vous pouvez par exemple voir le profil de l’employé grâce à l’onglet « mon compte ». 
    </p>
    <p>
    Malheureusement cet employé n’a que des droits très limités et n’a pas accès 
    au back office. Ce qui serait idéal ce serait de vous augmenter les droits. 
    Si le site est mal protégé cela est peut être possible. 
    En effet une méthode appelée attaque par injection permet de modifier 
    une information personnelle même si on en a pas le droit initialement. 
    Ici nous voulons modifier votre compte pour que vous soyez admin. 
    Pour cela il va falloir écrire quelques lignes de code. Appeler 
    le professeur pour qu’il accompagne dans la démarche.
    </p>
    <p>
    Une fois la modification faite, un bouton « back office » est apparu en haut à droite. Appuyez dessus pour et ça y est vous êtes entré dans l’espace admin.
    </p>
    <p>
    Vous avez maintenant accès aux identifiants de la base de données. 
    Connectez-vous à celle-ci en remplissant les identifiants ci-dessous.
    </p>

    <%= render "components/dashboard", db: false %>
  </div>
</div>
