<h1>Un indice dans l’indice</h1>

<p>Utiliser  pour découpé le tableau à l'intérieur de l'image</p>

<p>
  Super, vous avez trouvé un article qui semble parler de Joe et de votre oncle dans le journal! Il doit surement y avoir des infos.
  Hélas rien de très clair à part peut être sur la photo! On distingue un bateau sur le tableau en arrière plan. C’est probablement celui sur lequel ils ont embarqué pour le faire ce fabuleux voyage!
</p>
<p>
  Faites une découpe précise du tableau à l’intérieur de l’illustration de l’article grâce à l’outil <a href="https://www.iloveimg.com/fr/recadrer-image" target="_blank">www.iloveimg.com</a> .
</p>

<div class="tech-point">
  <h4>Point technique</h4>
  <p>
    Pour ça il vous faut télécharger l’image sur votre machine en faisant « click droit », puis « Enregistrer l’image sous… »
    Ensuite, il ne vous reste plus qu’a clicher sur « Sélectionner des images », puis sélectionner l’image sur votre machine dans le dossier où vous l’avez enregistré.
    <br>
    Il vous faudra découper précisément le tableau (de préférence à l’intérieur du cadre).
    Puis télécharger cette nouvelle image sur votre machine
  </p>
</div>

<!-- <iframe src="https://www.iloveimg.com/fr/recadrer-image" frameborder="0" width="500" height="500"></iframe> -->

<p>
  Maintenant que vous avez isolé ce tableau, il faudrai l’identifier! Heureusement il existe des outils pour ça! Google images en est un.
</p>

<div class="tech-point">
  <h4>Point technique</h4>
  <p>
    Faites glisser l’image du tableau dans la barre de recherche de <a href="https://www.google.fr/imghp?hl=fr" target="_blank">google images</a>
  </p>
</div>

<p>
  Ça y est vous avez retrouvé le nom du bateau sur le tableau, félicitation, nous avançons!
</p>

<div id="db-data-hunt">
  <iframe src="<%= Result::DB_URL %>"></iframe>
</div>

<%= render "components/form" %>
