<div class="container text-justify px-10">
  <h1 class="py-5 text-center">Un fait divers de plus</h1>
  <p>
    Vous savez maintenant que Joe habitait probablement dans une de ces trois villes :
  </p>

  <ul>
    <li>Bath</li>
    <li>Coventry</li>
    <li>Dartford</li>
  </ul>

  <p>
    Mais trois villes, c’est encore trop grand. Il vous faudrait un nouvel indice.
    Peut-être trouverez-vous quelque-chose dans la base de données.
  </p>

  <div id="db-data-hunt">
    <iframe src="<%= Result::DB_URL %>"></iframe>
  </div>

  <%= render "components/form" %>

</div>
