<h1>Un fait divers de plus</h1>

<p>
  Nous savons maintenant que Joe habitait probablement dans une de ses trois villes:
</p>

<ul>
  <li>Bath</li>
  <li>Coventry</li>
  <li>Dartford</li>
</ul>

<p>
  Mais trois villes, c’est encore trop grand. Il nous faudrai un nouvel indice. Peut être trouverez vous quelque chose dans la base de données.
</p>

<div id="db-data-hunt">
  <iframe src="<%= Result::DB_URL %>"></iframe>
</div>

<%= render "components/form" %>
