<div class="container px-5 text-justify">
  <div class="px-5">
    <%= render "components/title", title: "Une bien belle collection" %>

    <div class="text-center mb-5">
      <%= image_tag "watches.jpg", width: "300px"%>
    </div>

    <p>
      Vous savez maintenant que Joe habitait probablement dans une de ces trois villes :
    </p>

    <ul>
      <li>Bath</li>
      <li>Coventry</li>
      <li>Dartford</li>
    </ul>

    <p>
      Mais trois villes, c’est encore trop grand. Il vous faudrait un nouvel indice.
      Peut-être trouverez-vous quelque-chose dans la base de données.
    </p>

    <%= render "components/dashboard" %>
  </div>
</div>
