<h1>Un fait divers de plus</h1>

<p>Regardez si il y a eu des vols dans ces villes et si oui, qu'a t'on volé?</p>

<div id="db-data-hunt">
  <iframe src="<%= Result::DB_URL %>"></iframe>
</div>

<%= render "components/form" %>
