<h1>Le dernier coup de pelle</h1>

<p>
  Vous êtes arrivé.es au spot de plongée. Il ne vous reste plus qu’a plonger pour trouver le boulet. Autrement dit il faut que vous inspectiez chaque recoins du code HTML de cette page.
</p>

<div class="technique">
  <h4>Point technique</h4>
  <p>
    Pour inspecter le code HTML qui a permit de construit une page web il faut faire « click droit », puis « afficher le code source de la page » . Apparait alors le code HTML.
  </p>
</div>

<p>
  Ca y est vous avez trouvé le boulet et la position du trésor! Un dernier voyage est vous allez enfin mettre la main sur le but de votre quête.
</p>

<!--
  ###########################################
  ###########################################

               @@@@@@@
            @@@@@@@@@@@@@
          @@@@         @@@@
         @@@  -17.61666  @@@
         @@@  -149.53333 @@@
          @@@@         @@@@
            @@@@@@@@@@@@@
               @@@@@@@

  Maintenant que vous avez les coordonnées
        allez à la page suivante :
  <%= final_treasure_url %>

  ###########################################
  ###########################################
-->
