<h1>Le dernier coup de pelle</h1>

<p>Inspecter le code la page pour trouver le dernier lien</p>

<!--
  ###########################################
  ###########################################

  Pour trouver le trésor va à cette adresse :
  <%= final_treasure_url %>

  ###########################################
  ###########################################
-->
