<div class="container px-5 text-justify">
  <div class="px-5">

    <%= render "components/title", title: "Des mutins virulents" %>

    <div class="text-center mb-5">
      <%= image_tag "mutiny.jpeg", width: "300px"%>
    </div>

    <p>
      Super, vous avez trouvé les témoignages des mutins ! Mais comment identifier le plus virulent d’entre eux ?
    </p>

    <div class="tech-point mt-4">
      <h4>Point technique</h4>
      <p>
        En data science, il existe des programmes qui sont capables d’identifier le degré de sympathie que l’auteur véhicule dans un texte. Un de ces programmes a été développé par Microsoft. Il est accessible à l’<a href="https://aidemos.microsoft.com/text-analytics" target="_blank">adresse suivante</a>.
      </p>
    </div>

    <p>
      Utilisez le programme pour chacun des extraits de citation des mutins et déterminez le classement du plus virulent au moins virulent.
    </p>

    <%= render "components/dashboard" %>
  </div>
</div>
