#hunt-map {
  position: relative;
  background-image: asset-url("map.png");
  width: 500px;
  height: 500px;
  background-position: center;
  background-size: cover;

  #hunt-clusturing {
    position: absolute;
  }
}
